body {
	background-color: #b30000;
}




#container {
	width: 960px;
	margin: 0px auto 0px auto;
	border:  solid 2px;
	padding: 10px;
	background-color: #66c2ff;
}


#image {
	width: 250px;
	height: 50px;
	text-align: center;
	float: right;
	margin: 10px 50px 0px 0px;
	padding: 0px;
}


nav ol li{
	width: 200px;
	border: solid 2px;
	margin: 5px 0px;
	text-align: center;
	list-style-type: none;
}


img {
	width: 100%;
}


#main {
	float: right;
	margin: 50px 0px 15px 500px;
	width: 550px;
}


#main h2, p {
	border: solid 2px;
	text-align: center;
	width: 500px;
	padding: 10px;
}


#main h2 {
	width: 220px;

}


footer {
	clear: both;
	margin:  0px 0px 0px 235px;
}


footer ol li {
	display: inline;
	border: solid 2px;
	padding: 3px 5px;
	margin: 3px 3px 0px 3px;
}



